demos/JmsOxmDemo/src/main/webapp/WEB-INF/schemas/account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/account/" targetNamespace="http://www.example.org/account/">

    <complexType name="account">
    	<sequence>
    		<element name="name" type="string" maxOccurs="1"
    			minOccurs="1"/>
    		<element name="description" type="string" maxOccurs="1"
    			minOccurs="0"/>
    		<element name="balance" type="double" maxOccurs="1" minOccurs="0"/>
    	</sequence>
    </complexType>
</schema>